.events {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;

    &__link {
        font-weight: bold;
    }
    &__description {
        display: block;
        font-style: italic;
    }
}